web/core
vendor
bin
.idea
web/sites/*/files
web/sites/*/settings.local.php
web/sites/*/default.settings.php
web/modules/contrib
web/themes/contrib
web/profiles/contrib
web/libraries
web/sites/simpletest
*.sql
*.sql.*
web/themes/*/.sass-cache
*.css.map
*/.DS_Store
.DS_Store
web/modules/README.txt
web/profiles/README.txt
web/sites/README.txt
web/sites/example.*
web/themes/README.txt
web/vendor
web/.csslintrc
web/.editorconfig
web/.eslintignore
web/.eslintrc.json
web/.gitattributes
web/.htaccess
web/autoload.php
web/composer.json
web/composer.lock
web/example.gitignore
web/index.php
web/LICENSE.txt
web/README.txt
web/robots.txt
web/update.php
web/web.config
web/.ht.router.php
web/INSTALL.txt
drush/a2h.aliases.drushrc.php
tests/backstop/backstop_data
/web/themes/custom/massively/node_modules/
