{# AI generated #}
{#
/**
 * @file
 * Theme override for the social block in the Denbei theme.
 *
 * Available variables:
 * - body: Rendered HTML content configured via block settings.
 */
#}
<div id="block-dd_tools-contact">
  <div class="content">
    {{ body }}
  </div>
</div>
