{# AI generated #}
{#
/**
 * @file
 * Theme override for the social block in the Denbei theme.
 *
 * Displays social media links matching the original doesdesign.nl layout.
 */
#}
<div id="header-right-block">
  <div>
    <strong><a href="/about">{{ 'Birgit Doesborg'|t }}</a></strong>, {{ 'Goud- en zilversmid.'|t }}
  </div>
  <strong><a href="/contact">{{ 'Contact'|t }}</a></strong>
  <ul class="socialist">
    <li><a href="https://www.facebook.com/Doesdesign.nl" title="Visit Doesdesign at Facebook">Facebook</a></li>
    <li><a href="http://nl.linkedin.com/in/birgitdoesborg" title="Visit Birgit at Linkedin">LinkedIn</a></li>
    <li><a href="http://youtube.com/@metalartcreations" title="Visit YouTube page from Birgit">YouTube</a></li>
    <li><a href="https://www.instagram.com/doesdesign_nl/?hl=nl" title="Visit Doesdesign at Instagram">Instagram</a></li>
  </ul>
</div>
